# Server
PORT=5000
NODE_ENV=development

# Database
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:3000

# File Upload
MAX_FILE_SIZE=5242880

# Gemini API
GEMINI_API_KEY=AIzaSyDvaKCLdvuIMVzNo4FooHKfUPtCCsMdNvM

# SerpAPI Key
SERPAPI_API_KEY=