# Dependencies
node_modules/
docs/mockup
docs/*.md

# Environment
.env

# Build
dist/

# Prisma generated
src/generated/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

test.ts
test2.ts